section {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns  or 1 fraction.*/
    text-align: center;
    align-items: center;
}

section > * {
    border: 0.1px solid black;
    height: 100%;
}

main {
    grid-column: span 1;
}

aside {
    grid-column: span 1;   
}
