<div class="signUp1" class="card">

    <!-- <p>-[DBG]- {{ registerForm.value | json }}</p> -->
    <h3 class="signup-form-header card-header">Sign Up Form</h3>

    <form class="needs-validation card-body" name="registerForm" [formGroup]="registerForm">

        <div class="form-group">
            <label for="first_name">First Name</label>
            <input 
                [ngClass]="{ 'is-invalid' : first_name.errors && (first_name.dirty || first_name.touched),
                             'is-valid': first_name.valid && (first_name.dirty || first_name.touched)
                            }" 
                type="text" 
                formControlName="first_name" 
                class="form-control" />
            
                <div class="form-control-feedback valid-feedback">looks good!</div>
                <div class="form-control-feedback invalid-feedback">
                    <div *ngIf="first_name.errors?.required">First Name is required</div>
                    <div *ngIf="first_name.errors?.minlength">Name must be longer then 3 letters</div>
                </div>
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input 
            class="form-control" 
            type="text" 
            placeholder="Email_yours@walla.com"
            formControlName="email" 
            [ngClass]="{ 'is-invalid' : email.errors && (email.dirty || email.touched),
                         'is-valid' : email.valid && (email.dirty || email.touched)
                        }" />
            <div class="form-control-feedback valid-feedback">looks good!</div>
            <div class="form-control-feedback invalid-feedback">
                <div *ngIf="email.errors?.required">Email is required</div>
                <div *ngIf="email.errors?.email">Please provide a valid E-mail</div>
            </div>
        </div>

        <div class="form-group">

            <label for="password">Password</label>
            <input 
                [ngClass]="{ 'is-invalid' : password.errors && (password.dirty || password.touched),
                             'is-valid' : password.valid && (password.dirty || password.touched)
                            }"
                name="password" type="password" formControlName="password" class="form-control" />
            <div class="form-control-feedback valid-feedback">looks good!</div>
            <div class="form-control-feedback invalid-feedback">
                <div *ngIf="password.errors?.required">Password is required</div>
                <div *ngIf="password.errors?.minlength">Password must be at least 8 you have now {{password.errors?.minlength.actualLength | json}}</div>
                <div *ngIf="password.errors?.maxlength">Password must have less then 16 characters. you have {{password.errors?.maxlength.actualLength | json}} allready!</div>
            </div>
            
        </div>

        <div class="form-group">

            <label for="repassword">re-Enter Password</label>
            <input [ngClass]="{ 'is-invalid' : repassword.value !== password.value && ( repassword.dirty || repassword.touched) || repassword.errors && ( repassword.dirty || repassword.touched),
                                'is-valid' : repassword.valid && repassword.value === password.value && (repassword.dirty || repassword.touched)
                            }"
                    id="repassword" name="repassword" placeholder="Confirm password" type="password" formControlName="repassword" class="form-control"
                     />
            <div class="form-control-feedback valid-feedback">looks good!</div>
            <div class="form-control-feedback invalid-feedback">
                <div *ngIf="repassword.errors?.required">Please re enter your password</div>
                <div *ngIf="repassword.value !== password.value">Passwords do not Match!</div>
            </div>
        </div>

        <i>This is a two parts form, COMPLETE THIS PART TO CONTINUE</i>

    </form>


</div>


<div *ngIf="!registerForm.valid" class="signUp2 card">
    
    <form id="registerForm2" class="needs-validation card-body" name="registerForm2" [formGroup]="registerForm2" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input [ngClass]="{ 'is-invalid' : last_name.errors && ( last_name.dirty || last_name.touched),
                                'is-valid' : last_name.valid && ( last_name.dirty || last_name.touched )
                            }"
                class="form-control" type="text" formControlName="last_name" 
                />
            <div class="form-control-feedback valid-feedback">looks good!</div>
            <div class="form-control-feedback invalid-feedback">
                <div *ngIf="last_name.errors?.required">Last Name is required</div>
                <div *ngIf="last_name.errors?.pattern">First letter must be Capital</div>
            </div>
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <select [ngClass]="{ 'is-invalid' : city.errors && ( city.dirty || city.touched),
                                 'is-valid' : city.valid && ( city.dirty || city.touched )
                            }"
                id="city" name="city"
                formControlName="city" class="form-control">
                <option value="">Where are you from?..</option>
                <option>JARUSALEM</option>
                <option>TEL-AVIV</option>
                <option>RISHON-LEZION</option>
                <option>PETAH-TIKVA</option>
                <option>BEER-SHEVA</option>
                <option>NETANIA</option>
                <option>HIFA</option>
                <option>EILAT</option>
                <option>RANANA</option>
                <option>ASHDOD</option>
            </select>
            <div class="form-control-feedback valid-feedback"></div>
            <div class="form-control-feedback invalid-feedback">
                <div *ngIf="city.errors?.required"> i need to know your City of living</div>
            </div>
        </div>

        <div class="form-group">
            <label for="street">Street</label>
            <input [ngClass]="{ 'is-invalid' : city.errors && ( city.dirty || city.touched),
                                'is-valid' : city.valid && ( city.dirty || city.touched )
                            }"
                id="street" name="street" type="text" formControlName="street" class="form-control" />
            <div class="form-control-feedback valid-feedback"> Looks good.</div>
            <div class="form-control-feedback invalid-feedback">
                <div *ngIf="street.errors?.required">Street Address is required</div>
            </div>
        </div>

        <button [disabled]="registerForm.invalid || registerForm2.invalid" type="button" class="btn btn-primary"
            (click)="onSubmit()">
            Finish
        </button>

    </form>
</div>
<hr>

<a routerLink="/" class="btn btn-link">Cancel</a>
<br>    