.layout  {
    max-height: 600px;
    min-height: 100%;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 60px auto 30px; /*3 rows*/
}

.main{  
    height: 100%;
    background-color: rgb(233, 227, 227);
}
.header{
    background: rgb(74,74,73);
    background: linear-gradient(0deg, rgba(74,74,73,1) 10%, rgba(255,0,0,1) 50%, rgba(35,31,32,1) 90%);
}
.footer{
    background: rgb(74,74,73);
    background: linear-gradient(0deg, rgba(74,74,73,1) 10%, rgba(255,0,0,1) 50%, rgba(35,31,32,1) 90%);
}
