<section>
    <aside>
        <div>
            <input type="text" placeholder="Search entire Store" [(ngModel)]="text" id="searchProduct">
            <span class="btn btn-danger glyphicon glyphicon-plus" (click)="initForm()">Clear </span><br><br>


            <form #updateProductForm="ngForm" class="main-text">

                <label for="name">Name Tag</label><span class="glyphicon glyphicon-tag"></span>
                <input type="text" placeholder="Give me a name!" value="{{currentProduct.name}}"
                    [(ngModel)]="currentProduct.name" name="name" class="secondery-text">
                <br>

                <label for="price">Price </label><span class="glyphicon glyphicon-usd"></span><br>
                <input type="number" min="1" placeholder="how much?" value="{{currentProduct.price}}"
                    [(ngModel)]="currentProduct.price" name="price" class="secondery-text">
                <hr>
                <app-upload-files></app-upload-files>
                <hr>
                <label for="category_id">Choose Category</label><span class="glyphicon glyphicon-tags"></span>
                <select name="category_id" [(ngModel)]="currentProduct.category_id">
                    <option value=1>Soft Drinks</option>
                    <option value=2>Alchol</option>
                    <option value=3>Food</option>
                    <option value=4>Snacks</option>
                </select>

                <button *ngIf="!this.currentProduct.id" id="saveBtn"
                    [disabled]="updateProductForm.untouched && !updateProductForm.dirty"
                    (click)="updateProduct()">Save<span class="glyphicon glyphicon-save-file"></span></button>
                <button *ngIf="this.currentProduct.id" id="saveBtn"
                    [disabled]="updateProductForm.untouched && !updateProductForm.dirty"
                    (click)="updateProduct()">Update<span class="glyphicon glyphicon-save-file"></span></button>
            </form>
        </div>

        <button class="btn btn-danger" routerLink="/home">Home<span class="glyphicon glyphicon-home"></span></button>

    </aside>

    <main>
        <div id="cardsContainer">
            <h2>Click a Product to load update Form</h2>
            <div class="card card-block" *ngFor="let product of products|nameFilterPipe:text"
                (click)="loadClickedProductInfo(product)">
                <div class="card-body">
                    <img src="http://localhost:3000/{{product.picture}}">
                </div>
                <div class="card-title">
                    <h6 class="text-capitalize">{{ product.name }}</h6>
                </div>
                <strong class="price">{{ product.price }} $</strong>
            </div>
        </div>

    </main>
</section>