<div *ngIf="!isLoggedIn" class="container col-12">
  
    <form [formGroup]="loginForm" (submit)="login()">
        <h2>Welcome Guest!</h2>
        <!-- <input type="text" placeholder="User name" name="username" [formControl]="userName"><br> -->
        <input 
        [ngClass]="email.errors && (email.dirty || email.touched) ? 'is-invalid':''"
        type="text" placeholder="Email" [formControl]="email"><span class="glyphicon glyphicon-envelope"></span>
        <br>
        <span class="invalid-feedback" *ngIf="email.errors?.required && email.touched"> Email is required!</span>
        <span class="invalid-feedback" *ngIf="email.errors?.pattern && email.touched">invalid Email!</span>
        <br>

        <input
        [ngClass]="password.errors && (password.dirty || password.touched) ? 'is-invalid':''"
        
        type="password" placeholder="Password" name="password" [formControl]="password">
        <span class="glyphicon glyphicon-lock"></span>

        <br>
        <span *ngIf="password.invalid && password.touched" class="invalid-feedback">Missing password!</span>       
        <br>
        <input [disabled]="loginForm.invalid" type="submit" id="loginButton" value="Login">
        
        <a href="/signup">
        <input class="col-12" type="button" id="signUpButton" value="Sign up">
        </a>
    </form>
</div>
<div *ngIf="isLoggedIn">
    <h3>Welcome to my humble Shop!</h3>
    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="startNew()">Start Shopping</button>
    <p>*start takes new Cart</p>
    <button *ngIf="this.usersService.user_type =='ADMIN'" type="button" class="btn btn-warning btn-lg btn-block" routerLink="/admin">Admin Panel</button>
    <br>
    <button type="button" class="btn btn-danger" (click)="logOut()">LogOut</button>
</div>