<div class="shopNotifications main-text">
    <p>#Orders: <i>{{this.amountOfOrders}}</i></p>
    <p>#Products: <i>{{this.amountOfProducts}}</i></p>
    <p *ngIf="isLoggedIn" class="secondery-text"> Welcome back {{this.userService.name || 'guest'}} !</p>
    <div *ngIf="isLoggedIn && !isNewUser" class="userNotifications">
        <div *ngIf="lastCarts">
            <i  class="text-warning">last Carts :</i>
            <div *ngFor="let cart of lastCarts" id="lastTimes" class="secondery-text card">
                {{ cart.creation_date| date:'dd-MM HH:mm'}}  {{cart.total +'$'}}
                <button *ngIf="!cart.isChecked" class="main-text" (click)="resumeShopping(cart.id)" routerLink="/shop">RESUME</button>
                <span class="btn btn-success" *ngIf="cart.isChecked">PAYED</span>
            </div>
        </div>
    </div>
    <img class="notifications-banner" src="../../../assets/jackassCart.jpg">
</div>