img{
    position:sticky;
    float: left;    
    width: 4rem;
}
.contact{
    float: right;
    color: darkslategray;
    height: 4rem;
    font-family: fantasy;
}
p{
    
    font-family: cursive;
    float:right
}