
img{
    position: sticky;
    float: left;
    width: 54px;
    margin: 0.5px;
    margin-left: 5px;
    cursor: pointer;
}
.contact{
    float: right;
    color: rgb(234, 234, 234);
    font-family: fantasy;
    margin: 5px;   
}
p{
    float:right
}
